@using duyendang.Models
@model cataloge

@{
    ViewBag.Title = "Edit Home Page";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <form action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <img src="@Url.Content("~/Images/" + @Model.image)" alt="image" width="325" height="261" />
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Browse&hellip; <input type="file" name="file">
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="col-md-8 form-group">
                    <textarea rows="13" class="form-control" name="desc" >@Model.description</textarea>
                </div>
            </div>
            <div class="row">
                @Html.Action("CatalogeEditPartial", "Index")
            </div>
            <div class="col-md-12 text-center" style="margin-top: 30px">
                <input class="btn btn-primary" type="submit" value="Lưu" style="width: 100px" />
            </div>
        </form>
    </div>
</div>




