@using duyendang.Models
@model cataloge

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/layout_DuyenDang.cshtml";
}

<!--Begin slider-->
@Html.Action("SliderPartial", "Index")
<!--End Slider-->

<table width="1215px" border="0" cellspacing="0" cellpadding="0" style="margin-top: 200px">
    <tr>
        <td height="45px" width="51px" style="background: transparent url(../../Images/box-left-top.png) no-repeat left;"></td>
        <td height="45px" width="1099px" style="background: transparent url(../../Images/box-center-top.png) repeat-x left;"></td>
        <td width="50px" height="45px" style="background: transparent url(../../Images/box-right-top.png) no-repeat left;"></td>
    </tr>
    <tr>
        <td width="51px" style="background: transparent url(../../Images/box-left.png) repeat-y left;"></td>
        <td style="background-color: #faf8f8;" align="left" width="1099px">
            <!-- BEGIN - NOI DUNG TRANG CHU -->
            <table width="1099px" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" colspan="2" style="padding-bottom: 25px;">
                        <img src="~/Images/Studio.png" /> <span style="display: none">Studio Duyên dáng</span>
                    </td>
                </tr>
                <tr>
                    <td class="bogoc" height="261px" width="325px">
                        <img src="@Url.Content("~/Images/" + Model.image)" width="325" height="261" />
                        @*  <img src="~/Images/pic1.jpg" />*@
                    </td>
                    <td style="padding-left: 40px; color: #696969; text-align: justify;">
                        @*Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit sagittis
                            arcu ac hendrerit. Nulla vitae congue turpis, ut rutrum sapien. Donec quis
                            venenatis nisl. Proin enim massa, euismod eu nulla at, gravida sollicitudin
                            dolor. In pellentesque bibendum arcu, id ornare mi ultricies non. In mauris
                            ipsum, pellentesque vel erat eget, luctus convallis nibh.
                            <br /><br />
                            Donec hendrerit in
                            nulla nec dignissim. Morbi mattis, quam nec lobortis luctus, dui mauris iaculis
                            sem, ac laoreet urna odio sit amet eros. Phasellus sodales fermentum libero quis
                            vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur ridiculus mus.
                            <br /><br />
                            Curabitur mattis turpis sit amet magna venenatis,
                            efficitur pharetra eros dapibus. Class aptent taci ti sociosqu ad litora
                            torquent per conubia nostra, per inceptos himenaeos. Suspendisse tincidunt.*@
                        @Model.description
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 30px 0px 20px 0px">
                        <img src="~/Images/hoavan-ngang.jpg" />
                    </td>
                </tr>
            </table>

            @* CategoryHomePartial *@
            @Html.Action("CategoryHomePartial", "Index")

            <!-- END - NOI DUNG TRANG CHU -->
        </td>
        <td width="50px" style="background: transparent url(../../Images/box-right.png) repeat-y left;"></td>
    </tr>
    <tr>
        <td width="51px" height="46px" style="background: transparent url(../../Images/box-left-bottom.png) no-repeat left;"></td>
        <td height="46px" width="1099px" style="background: transparent url(../../Images/box-center-bottom.png) repeat-x left;"></td>
        <td width="50px" height="46px" style="background: transparent url(../../Images/box-right-bottom.png) no-repeat left;"></td>
    </tr>
</table>