

@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/layout_DuyenDang.cshtml";
}
<!--Begin slider-->
@Html.Action("SliderPartial", "Index")
<!--End Slider-->
<table width="1215" border="0" cellspacing="0" cellpadding="0" style="margin-top: 200px">
    <tr>
        <td height="45px" width="51px" style="background: transparent url(../../Images/box-left-top.png) no-repeat left;"></td>
        <td height="45px" width="1099px" style="background: transparent url(../../Images/box-center-top.png) repeat-x left;"></td>
        <td width="50px" height="45px" style="background: transparent url(../../Images/box-right-top.png) no-repeat left;"></td>
    </tr>
    <tr>
        <td width="51px" style="background: transparent url(../../Images/box-left.png) repeat-y left;"></td>
        <td style="background-color: #faf8f8;" align="left" width="1099px">
            <!-- BEGIN - NOI DUNG TRANG CHU -->
            <table width="1099" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" colspan="2" style="padding-bottom: 10px;">
                        <img src="~/Images/lienhe.jpg" />
                        <span style="display: none">LIÊN HỆ</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 0px 0px 0px 0px">
                        <img src="~/Images/hoavan-ngang.jpg" />
                    </td>
                </tr>
            </table>
            <table width="1099" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td style="border-top-width: 0px;width: 300px;">
                            <div style="height:350px">
                                <h4><b>Tiệm chụp hình DUYÊN DÁNG</b></h4><br />
                                <p><i class="fa fa-map-marker"></i> Địa chỉ: Đường 30/4, P. Trung Dũng, TP. Biên Hòa, Đồng Nai</p>
                                <p><i class="fa fa-phone"></i> Điện thoại: </p>
                                <ul style="list-style: none">
                                    <li><p><i class="fa fa-mobile"></i> 0989.210.469</p></li>
                                    <li><p><i class="fa fa-mobile"></i> 0901.552.071</p></li>
                                </ul>
                                <p><i class="fa fa-envelope"></i> Email: duyendang176@gmail.com </p>
                            </div>
                            
                        </td>

                        <td width="50px" style="padding-left: 0px;width: 30px;height: 370px;border-left-width: 0px;">
                            <img src="/Images/hoavan-doc.jpg" height="300" width="15">
                        </td>

                        <td width="300px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.154473596057!2d106.82072501396493!3d10.951701558930642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174deabf09297c5%3A0x802bb3ab09941f4a!2zVGnhu4dtIGNo4bulcCBow6xuaCBEdXnDqm4gRMOhbmc!5e0!3m2!1svi!2s!4v1457589627208" width="380" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </td>

                        <td width="50px" style="padding-left: 0px;width: 30px;height: 370px;border-left-width: 0px;">
                            <img src="/Images/hoavan-doc.jpg" height="300" width="15">
                        </td>

                        <td style="border-top-width: 0px; width: 300px;">
                            <h4> <b>Gửi liên hệ</b></h4>
                            @using (Html.BeginForm("SendEmail", "Contact", FormMethod.Post))
                            {
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input class="form-control" type="text" name="fullname" />
                                </div>
                                <div class="form-group">
                                    <label>Di động</label>
                                    <input class="form-control" type="number" name="phone" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="email" name="email" />
                                </div>
                                <div class="form-group">
                                    <label>Nội dung liên hệ</label>
                                    <input class="form-control" type="text" name="content" />
                                </div>
                                <div class="text-center">
                                    <input class="btn btn-primary" id="btnSubmit" type="submit" name="submit" value="Gửi" style="width: 100px" />
                                </div>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- END - NOI DUNG TRANG CHU -->
        </td>
        <td width="50px" style="background: transparent url(../../Images/box-right.png) repeat-y left;"></td>
    </tr>
    <tr>
        <td width="51px" height="46px" style="background: transparent url(../../Images/box-left-bottom.png) no-repeat left;"></td>
        <td height="46px" width="1099px" style="background: transparent url(../../Images/box-center-bottom.png) repeat-x left;"></td>
        <td width="50px" height="46px" style="background: transparent url(../../Images/box-right-bottom.png) no-repeat left;"></td>
    </tr>
</table>


