@model duyendang.Models.user
@{
    ViewBag.Title = "Admin Manager";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <form action="ChangePassword" method="post">
            <div class="form-group">
                <label>Mật khẩu cũ</label>
                <input class="form-control" type="password" name="oldPassword" value="@Model.password" />
            </div>
            <div class="form-group">
                <label>Mật khẩu mới</label>
                <input class="form-control" type="password" name="newPassword1" id="newPassword1" />
            </div>
            <div class="form-group">
                <label>Nhập lại mật khẩu mới</label>
                <input class="form-control" type="password" name="newPassword" id="newPassword" />
            </div>
            <p style="color:red"><div class="" id="passwordStrength"></div></p>
            <div class="form-group"></div>
            <input class="btn btn-primary" type="submit" value="Xong" style="width: 100px" />

        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#newPassword1, #newPassword').on('keyup', function (e) {
            if ($('#newPassword1').val() == '' && $('#newPassword').val() == '') {
                $('#passwordStrength').removeClass().html('');
                return false;
            }

            if ($('#newPassword1').val() != '' && $('#newPassword').val() != '' && $('#newPassword1').val() != $('#newPassword').val()) {
                $('#passwordStrength').removeClass().addClass('error').html('Mật khẩu không phù hợp');
                return false;
            }

            // Must be at least 6 characters long
            var okRegex = new RegExp("(?=.{6,}).*", "g");
            if (okRegex.test($(this).val()) === false) {
                // If ok regex doesn't match the password
                $('#passwordStrength').removeClass().addClass('error').html('Mật khẩu phải dài hơn 6 ký tự');
                return false;
            }
            return true;
        });
    });
</script>