#bigPic{
	width:100%;
	min-width: 1200px;
}
#bigPic img{
	position:absolute;
	display:none;
}
ul#thumbs
{
    width: 1200px;
}
ul#thumbs li.active{
	border:1px solid #000;	
	background:#fff;
}
ul#thumbs, ul#thumbs li{
	margin: 0;
	padding:0;
	list-style:none;
}
	
ul#thumbs li{
	float:left;
	border:1px solid #CCC;
	cursor:pointer;
	margin-left: 14px;
	margin-top: 14px;
	margin-bottom: 14px;
}
ul#thumbs img{
	float:left;
	width:221px;
	height:147px;
	overflow:hidden;
	position:relative;
	z-index:4;		
}