@using duyendang.Models;
@model List<information>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}

<div class="col-md-12">
    <form action="Edit" method="post" enctype="multipart/form-data">
        @foreach (var item in Model)
        {
            <div class="row" style="margin: 10px 0;">
                <div class="col-md-4">
                    <img src="@Url.Content("~/Images/" + item.image)" alt="imagePhotobook" width="150" height="150"/>
                    <input type="file" name="file"/>
                </div>
                <div class="col-md-8">
                    <textarea rows="10" cols="75" name="@item.id">@item.description</textarea>
                </div>
            </div>
        }
        <input class="btn btn-primary" type="submit" name="name" value="Lưu" style="margin-bottom:20px"/>
    </form>

</div>
