
@{
    ViewBag.Title = "Thiệp cưới, thiệp mời";
    Layout = "~/Views/Shared/layout_DuyenDang.cshtml";
}

<!--Begin slider-->
@Html.Action("SliderPartial", "Index")
<!--End Slider-->
<table width="1215px" border="0" cellspacing="0" cellpadding="0" style="margin-top: 200px">
    <tr>
        <td height="45px" width="51px" style="background: transparent url(../../Images/box-left-top.png) no-repeat left;"></td>
        <td height="45px" width="1099px" style="background: transparent url(../../Images/box-center-top.png) repeat-x left;"></td>
        <td width="50px" height="45px" style="background: transparent url(../../Images/box-right-top.png) no-repeat left;"></td>
    </tr>
    <tr>
        <td width="51px" style="background: transparent url(../../Images/box-left.png) repeat-y left;"></td>
        <td style="background-color: #faf8f8;" align="left" width="1099px">
            <!-- BEGIN - NOI DUNG TRANG CHU -->
            <table width="1099px" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" colspan="2" style="text-align: center">
                        <img src="~/Images/thiepcuoi.png" /> <span style="display: none">Thiệp cưới, thiệp mời</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 0px 0px 20px 0px">
                        <img src="~/Images/hoavan-ngang.jpg" />
                    </td>
                </tr>
            </table>

            <table width="1099px" border="0" cellpadding="0" cellspacing="0">

                <tr>
                    <td width="289px" style="padding-top:10px;">
                        <img class="vien" src="@Url.Content("~/Images/" + Model[0].image)" height="400" width="350" />
                    </td>
                    <td width="116px"></td>
                    <td width="289px">
                        <img class="vien" src="@Url.Content("~/Images/" + Model[1].image)" height="400" width="350" />
                    </td>
                    <td width="116px"></td>
                    <td width="289px">
                        <img class="vien" src="@Url.Content("~/Images/" + Model[2].image)" height="400" width="350" />
                    </td>
                </tr>
            </table>
            <!-- END - NOI DUNG TRANG CHU -->
        </td>
        <td width="50px" style="background: transparent url(../../Images/box-right.png) repeat-y left;"></td>
    </tr>
    <tr>
        <td width="51px" height="46px" style="background: transparent url(../../Images/box-left-bottom.png) no-repeat left;"></td>
        <td height="46px" width="1099px" style="background: transparent url(../../Images/box-center-bottom.png) repeat-x left;"></td>
        <td width="50px" height="46px" style="background: transparent url(../../Images/box-right-bottom.png) no-repeat left;"></td>
    </tr>
</table>
